[alias]
  nfb = "!f() {  \
    git checkout -b \"feature/$1\"; \
    }; f"
  nbb = "!f() {  \
    git checkout -b \"bug/$1\"; \
    }; f"
  cm = commit -m
  ch = checkout
  push-set = "!f() {  \
    branch=$(git symbolic-ref --short HEAD); \
    git push --set-upstream origin \"$branch\"; \
    }; f"
  pdev = pull origin develop
  loc =  "!f() {  \
    git log --shortstat --since \"$1\" --until \"$2\" | grep \"files changed\" | awk '{files+=$1; inserted+=$4; deleted+=$6} END {print \"files changed\", files, \"lines inserted:\", inserted, \"lines deleted:\", deleted}'; \
    }; f"
